* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 5%;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
}

.menu {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.logo {
    width: 250px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    padding: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

.catalog {
    margin: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.prd-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.price {
    font-size: 18px;
    color: rgb(255, 213, 0);
    font-weight: bold;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
}
.btn:hover {
    background: orange;
}