.container{
    text-align: left;
    font-size: 20px;
    margin-left: 25%;
}

h2 {
    text-align: center;
}

.e1 , .e4{
    color: red;
}

.e2{
    color: blue;
}

.e3{
    color: green;
}

strong{
    color: brown;
}

.pic1, .pic2{
    font-size: 20px;
    border: solid;
}