/* main menu  định dạng kiểu hàng ngang cho menu*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav.menu {
  text-align: center;
  background-color: orange;
  padding: 10px 0;
  margin: 0;
}
.menu > ul > li > {
  display: inline-block;
}
.menu > ul > li {
  background-color: orange;
  text-align: center;
}
.menu > ul > li {
  display: inline-block;
  position: relative;
}
.menu > ul > li > a {
  text-decoration: none;
  padding: 10px;
  display: block;
}
.menuul > li > a:hover {
  color: #fff;
  background-color: red;
}
/*sub menu*/
/*.menu>ul>li>a>ul>li  đường dẫn tuyệt đối*/
.menu ul ul {
  position: absolute;
  width: 250px;
  text-align: left;
  background-color: azure;
  list-style: none;
  display: none;
}
.menu ul ul a {
  text-decoration: none;
  padding: 5px;
  display: block;
}
.menu > ul > li:hover > ul {
  display: block;
}
.menu ul ul a:hover {
  background-color: orange;
  color: #fff;
}
.menu a {
  text-decoration: none;
  color: #0000ff; /* Màu chữ xanh */
  font-size: 18px;
  font-weight: bold;
  margin: 0 15px; /* Khoảng cách giữa các mục menu */
  padding: 5px 10px;
  transition: background-color 0.3s;
  background-color: #f5c87f; /* Màu nền mỗi mục */
}
.menu a:hover {
  background-color: #ffd700; /* Màu nền khi rê chuột */
  color: black;
  border-radius: 5px;
}

/* Product - sản phẩm */
.head-line {
  text-transform: uppercase;
  text-align: center;
  margin: 30px 0;
}

ul.products {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

ul.products li {
  flex-basis: 20%;
}

.products li a {
  display: block;
}

ul.products img {
  max-width: 100%;
}

ul.products .product-item {
  padding: 15px;
}

.products .product-item .item {
  border: 1px solid blue;
}

.products .product-item .item:hover {
  border: 1px solid orange;
}

/* show/hide Order now */

/* show/hide Order now */
ul.products li:hover a.order-now {
  bottom: 0px;
}

ul.products li:hover .product-top .product-thumb img {
  filter: opacity(80%);
}

.product-top {
  position: relative;
  overflow: hidden;
}

.product-top a.product-thumb {
  display: block;
}

.product-top a.product-thumb img {
  display: block;
}

.product-top a.order-now {
  display: block;
  padding: 10px 0;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: orange;
  color: blue;
  position: absolute;
  bottom: -40px;
  width: 100%;
  transition: 0.25s ease-in-out;
  opacity: 0.8;
}

/* product info/detail */

/* product info/detail */
.products .product-info {
  text-align: left;
  text-transform: uppercase;
}

.products .product-info a {
  text-decoration: none;
  padding: 5px;
}

.product-info .product-cat {
  font-weight: bold;
  text-align: right;
}

.product-info .product-name {
  margin-top: 10px;
}

.product-info .product-name:hover {
  color: blue;
}

.product-info .product-price {
  color: blue;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.product-info del {
  font-size: 90%;
}
